# The ignore files when I am writing an R package.
*~
.Rhistory
.Rbuildignore
.Rproj.user/
.directory

# object and shared objects
*.o
*.so
*.dll

# bam and sam files
*.bam

# html reports
*.html

nohup.out

# office file
*.xlsx
